################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExamPrep/.vs/ExamPrep/v15
*/[bB]in
*/[Oo]bj
*/.vscode
*/[Oo]bj